

/* START PART LARS */
body {
 margin:0;
 padding:0;
 background: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.logo-section
{
 padding-top: 100px;
}

.logo-section h1
{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 40px;
}

.loginbox {
 width: 620px;
 height: 400px;
 background: #1F2833;
 color: #ffff;
 top: 50%;
 left: 50%;
 position: absolute;
 transform: translate(-50%,-50%);
 box-sizing: border-box;
 padding: 130px 50px;
 margin-top: 100px;
 box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 50%);
 border-radius: 4px;
}

.login-logo
{
 width: 450px;
 max-width: 100%;
 height: auto;
 display: block;
 margin-left: auto;
 margin-right: auto;

}

.head-icon {
 width: 200px;
 height: 200px;
 position: absolute;
 top: -25%;
 left: calc(50% - 100px);
}

h1 {
 margin: 0;
 text-align: center;
 font-size: 22px;
}

p {
 margin-bottom: 0;
}

.loginbox p{
 margin: 0;
 padding: 0;
 font-weight: bold;
}

.loginbox input {
 width: 100%;
 margin-bottom: 20px;
}

.loginbox input[type=text], input[type=password]
{
 border: none;
 border-bottom: 1px solid #fff;
 background: transparent;
 outline: none;
 height: 40px;
 color: white;
 font-size: 18px;
 font-weight: 500;
 text-transform: uppercase;
}

.loginbox input[type=text]::placeholder , input[type=password]::placeholder
{
 color: white;
 opacity: 1;
}

.loginbox input[type=text]
{
 background-image: url('/images/user.png');
 background-size: 20px;
 background-position: 10px 10px;
 background-repeat: no-repeat;
 padding-left: 40px;
}

.loginbox input[type=password]
{
 background-image: url('/images/lock.png');
 background-size: 20px;
 background-position: 10px 10px;
 background-repeat: no-repeat;
 padding-left: 40px;
}

.login-button{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
 width: 100%;
}

.loginbox input[type=submit]
{
 border: none;
 outline: none;
 height: 50px;
 width: 50%;
 background: #3FB0AC;
 color: #fff;
 font-size: 25px;
 border-radius: 5px;
 text-transform: uppercase;
 cursor: pointer;
 font-weight:900;
}

.loginbox input[type=submit]:hover
{
 cursor: pointer;
 background: #4F8280;
 color: white;
}

.forgot-password{

 text-align: center;
 font-size: 10px;
 line-height: 10px;
 color: #3FB0AC;
 text-transform: uppercase;
 cursor: pointer;
}

.forgot-password:hover
{
 color: #4F8280
}

.timebox{
 margin-top: 200px;
}

.timeboxes{
 display: flex;
 margin: auto;
}

.timebox-1 {
 flex: 0 0 65%;
 height: 150px;
 background: #1F2833;
margin-right: 10px;
 display: flex;
 box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 50%);
 border-radius: 4px;
}

.timebox-2 {
 flex: 1;
 height: 150px;
 background: #1F2833;
 margin-left: 10px;
 display: flex;
 box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 50%);
 border-radius: 4px;
}

.timebox-2-date{
 text-align: center;
 height: 40px;
 width: 130px;
 background-color: #3FB0AC;
 border-radius: 3px;
margin-right: -20px;
 margin-top: -20px;
}

.timebox-2-date h1{
 font-size: 18px;
 font-weight: bold;
 color: white;
 margin: 10px;
}

.column-timebox-1 {
 margin: auto;
 width: 33.33%;
 text-align: center;
 color: white;
 line-height: 0px;
}

.column-timebox-1 h1{
 margin-bottom: -10px;
}

.column-timebox-2{
 margin: auto;
 text-align: center;
 color: white;
 line-height: 0px;
 position: center;
}

.column-timebox-2 h1{
 margin-bottom: -10px;
}

#row-one input[type=submit]
{
 border: none;
 outline: none;
 height: 50px;
 background: #3FB0AC;
 color: #fff;
 border-radius: 5px;
 text-transform: uppercase;
 cursor: pointer;
 font-weight:700;
 padding-right: 30px;
 padding-left: 30px;
}

#row-one input[type=submit]:hover
{
 cursor: pointer;
 background: #4F8280;
 color: white;
}


.current-time
{
 color: white;
}

.last-recordings{
 margin-top: 100px;
}

.recording{
 height: 80px;
 width: 100%;
 margin-bottom: 5px;
 cursor: pointer;
 background: #A6A6A6;
 color: white;
 display: flex;
}

.recording-box{
 margin-left: 20px;
 margin-right: 20px;
}

.last-recordings-date {
 flex: 0 0 20%;
 color: white;
 line-height: 0px;
 margin: auto;
}

.last-recordings-time {
 flex: 0 0 20%;
 color: white;
 line-height: 0px;
 margin: auto;
}

.last-recordings-status {
 flex: 1;
 color: white;
 line-height: 0px;
 margin: auto;
}
.last-recordings-status h1{
 text-align: right;
 margin-right: 10%;
}

.footer-box{
 bottom: 0;
 position: fixed;
 width: 100%;
 background: white;
}

.footer {
 text-align: center;
 margin: 5px;
 font-size: 11px;
 color: rgb(0, 0, 0);
}


.modal-body input[type=password] {
 border: revert!important;
 border-bottom: revert!important;
}


#row-one{
 color: white;
 height: 100%;
 background: #1F2833;
 box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 50%);
 border-radius: 4px;
 margin-bottom: 20px;
 padding-top: 40px;
 padding-bottom: 40px;
}

#row-two{
 color: white;
 height: 100%;
 background: #1F2833;
 box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 50%);
 border-radius: 4px;
 width: auto;
 padding-top: 40px;
 padding-bottom: 40px;
}

select {
 -moz-appearance: none;
 -webkit-appearance: none;
 text-indent: 1px;
 text-overflow: '';
 appearance: none;
 border: none;
 width: 80%;
 height: 40px;
 -moz-padding-start: calc(10px - 3px);
 padding-left: 10px;
 background: #4F8280;
 color: #fff;
 font-size: 16px;
 box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
 border-radius: 3px;
 outline: none;
 color: white;
 cursor: pointer;
 text-transform: uppercase;
 font-weight:700;
}

select:focus::-ms-value {
 background-color: transparent;
}

select::-ms-expand {
 display: none;
}

#lastRecording-row{
 background-color: #ffffff;
 box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 10%);
 padding: 10px;
 margin-bottom: 10px;
}

#myLastRecording{
 text-transform: uppercase;
 font-weight: 700;
 margin-bottom: 20px;
}

.editSettings-Button{
 text-decoration: none;
 border: none;
 outline: none;
 background: #3FB0AC;
 color: #fff;
 border-radius: 5px;
 text-transform: uppercase;
 cursor: pointer;
 font-weight: 700;
 padding-right: 10px;
 padding-left: 10px;
}

.editSettings-Button:hover {
 cursor: pointer;
 background: #4F8280;
 color: white;
}

@media (max-width: 767px) {
 #selectProject-Div {
  margin-top: 30px;
 }

 .loginbox {
  width: 95%!important;
 }

 #heroSection-dashboard{
  width: 95%;
 }

 .editSettings-Button{
  margin-top: 10px;
 }
}


/* END PART LARS */