<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>

    <!-- From Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>

    <!-- Stylesheet -->
    <link th:href="@{/css/stylesAntonio.css}" rel="stylesheet"/>


    <!-- JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script crossorigin="anonymous"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Start: Top Nav -->

    <nav class="py-6 px-4 navbar navbar-expand-lg auto-hiding-navbar fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
            <img th:src="@{/images/logo.png}" alt="logo" class="logo"/>
            <!--  <form class="search-form d-flex ml-auto mt-1 mb-0"> -->
            <!--    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
            <!--    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button> -->
            <!--  </form> -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Howdy, Admin
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#createUserModal">Create User</a>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#createProjectModal">Create Project</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
            </ul>
            <img th:src="@{/images/dude.png}" alt="dude" class="dude"/>
        </div>
    </nav>

</head>
<body>

<!-- End: Top Nav -->

<!-- Start: Employee Table -->

<div class="container">
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Id</div>
            <div class="col col-2">Name</div>
            <div class="col col-3">Workload %</div>
            <div class="col col-4">Workload hrs.</div>
            <div class="col col-5"></div>
        </li>
    </ul>
    <ul class="responsive-table" th:each="user: ${users}">
        <a class= "rowClick" th:href="${'/overview/' + {user.id}}">
            <li class="table-row">
                <div class="col col-1" data-label="Id" th:text="${user.id}"></div>
                <div class="col col-2" data-label="Name" th:text="${user.userName}"></div>
                <div class="col col-3" data-label="Workload %"
                     th:text="|${(user.weeklyHours * 100 / weeklyCompanyHours)} %|"></div>
                <div class="col col-4" data-label="Workload hrs." th:text="${user.weeklyHours}"></div>
            </li>
        </a>
    </ul>
</div>

<button type="button" class="btn-outline-primary btn-lg">+</button>

<!-- End: Employee Table -->

<!-- Start Modal: Create User -->

<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter User Data</h5>
            </div>

            <div class="modal-body">
                <!-- Name: Text input -->
                <input type="text" id="formName" class="form-control"/>
                <label class="form-label" for="formName">Name</label>
                <!-- Workload: Input -->
                <input type="text" id="formWorkload" class="form-control"/>
                <label class="form-label" for="formWorkload">Workload</label>
                <!-- Email: Input -->
                <input type="email" id="formEmail" class="form-control"/>
                <label class="form-label" for="formEmail">Email</label>
                <!-- Password: Input -->
                <input type="password" id="formPassword" class="form-control"/>
                <label class="form-label" for="formPassword">Password</label>
                <!-- Admin Rights: Check -->
                <p>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="formAdmin">
                    <label class="form-check-label" for="formAdmin">Admin Rights</label>
                </div>
                </p>
                <!-- "Create User" Button" -->
                <button type="submit" id="formButton" class="btn btn-outline-primary btn-block mb-4">Create User
                </button>

            </div>
        </div>
    </div>
</div>

<!-- End Modal: Create User -->

<!-- Start Modal: Create Project -->

<div class="modal fade" id="createProjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter Project Data</h5>
            </div>

            <div class="modal-body">
                <!-- Project Name: Text input -->
                <input type="text" id="projectName" class="form-control"/>
                <label class="form-label" for="projectName">Project Name</label>
                <!-- Due Date: Input -->
                <input type="date" id="dueDate" class="form-control"/>
                <label class="form-label" for="dueDate">Due Date</label>
                <!-- "Create Project" Button" -->
                <button type="submit" id="createProjectButton" class="btn btn-outline-primary btn-block mb-4">Create Project
                </button>

            </div>
        </div>
    </div>
</div>
</body>

<!-- End Modal: Create Project -->

<!-- Start: Create User JS -->

<script th:src="@{/js/app.js}"></script>

<!-- Start: Footer -->

<footer style="height: 15px;">
    <div class="footer-box">
        <p class="footer">
            ©TimBan — Made with ❤ for the people of the internet.<br></p>
    </div>
</footer>

<!-- End: Footer -->

<script>

    $(document).ready

// Start: Create User

    {
        $('#formButton').click(function (event) {
            var name = $('#formName').val();
            var workload = $('#formWorkload').val();
            var email = $('#formEmail').val();
            var password = $('#formPassword').val();
            var isAdmin = $('#formAdmin').val();

            postProfile(name, workload, email, password, isAdmin, function (result) {
                if (result)
                    location.reload()
            });

            event.preventDefault();
        })

    }

// End: Create User

</script>
</html>