<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>

<div class="timebox">

    <div class="container">

        <div class="timeboxes">


            <div class="timebox-1">

                <div class="column-timebox-1">
                    <div class="check-in-button">
                        <input type="submit" name="check-in-button" value="Check-In">
                    </div>
                </div>
                <div class="column-timebox-1">
                    <h1 th:text="${#dates.format(#dates.createNow() , 'HH:mm')}" />
                    <p>CURRENT TIME</p>
                </div>
                <div class="column-timebox-1">
                    <h1>Online</h1>
                    <p>CURRENT STATUS</p>
                </div>
            </div>

            <div class="timebox-2">
                <div class="column-timebox-2">
                    <h1>4h 23min</h1>
                    <p>TIME LEFT</p>
                </div>
                <div class="timebox-2-date">
                    <h1 th:text="${#dates.format(#dates.createNow() , 'dd.MM.yyyy')}" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="last-recordings">
    <div class="container">
        <h1>My last recordings:</h1>


        <div th:each="record: ${records} " class="recording">

            <div class="last-recordings-date">
                <h1 th:text="${record.timestamp}"/>
            </div>
            <div class="last-recordings-time">
                <h1 th:text="${record.timestamp}"/>
            </div>
            <div class="last-recordings-status">
                <h1 th:if="${record.startRecording}">Check-In</h1>
                    <h1  th:unless="${record.stopRecording}">Check-Out</h1>
            </div>
        </div>
    </div>
</div>


</body>
</html>