<!DOCTYPE html>

<!-- Author: Antonio Briatico -->

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Project</title>

    <!-- From Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>

    <!-- Stylesheet -->
    <link th:href="@{/css/stylesAntonio.css}" rel="stylesheet"/>

    <!-- JavaScript and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script crossorigin="anonymous"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body>

<!-- Start: Top Nav -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- Navbar Logo -->
    <a href="/">
        <img th:src="@{/images/logo.png}" alt="logo" class="logo"/>
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="mainNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
        </ul>

        <!-- Start: Filter Bar -->
        <form class="search-form">
            <input class="form-control" type="text" placeholder="Search" id="searchProjects" aria-label="Search">
        </form>

        <!-- Dropdown Menu -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <div class="dropdown dropD">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Howdy, Admin
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" data-bs-toggle="modal"
                           data-bs-target="#createProjectModal">Create Project</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
        </ul>

    </div>

</nav>

<!-- End: Top Nav -->

<!-- Start: Project Table -->

<div class="container">
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">ID</div>
            <div class="col col-2">PROJECT NAME</div>
            <div class="col col-3">DUE DATE</div>
            <div class="col col-4">CREATION DATE</div>
        </li>
    </ul>
    <ul class="responsive-table" th:each="project: ${projects}">
        <a class="rowClick" data-toggle="collapse" th:attr="data-target='#div-id-'+${project.id}">
            <li class="table-row">
                <div class="col col-1" data-label="Id" th:text="${project.id}"></div>
                <div class="col col-2" data-label="Project Name" th:text="${project.projectName}"></div>
                <div class="col col-3" data-label="Due Date"
                     th:text="${#dates.format(project.dueDate, 'dd.MM.yyyy')}"></div>
                <div class="col col-4" data-label="Creation Date"
                     th:text="${#dates.format(project.createdAt, 'dd.MM.yyyy')}"></div>
            </li>
        </a>
        <div class="collapse" th:id="@{|div-id-${project.id}|}">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Project Information</h5>
                </div>
                <!-- Update Project Name & Due Date -->
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" th:id="@{|formProjectName-${project.id}|}" class="form-control"
                                           required
                                           th:value="${project.projectName}"/>
                                    <label class="form-label" th:attr="for='@{|formProjectName-${project.id}|}'">Project
                                        Name</label>
                                    <div class="invalid-feedback">
                                        Please enter a valid project name.
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="date" th:id="@{|formDueDate-${project.id}|}" id="formDueDate"
                                           class="form-control" required
                                           th:value="${#dates.format(project.dueDate, 'yyyy-MM-dd')}"/>
                                    <label class="form-label" th:attr="for='@{|formDueDate-${project.id}|}'">Due
                                        Date</label>
                                    <div class="invalid-feedback">
                                        Please enter a valid date.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Update user & Delete User Button" -->
                        <div class="row">
                            <div class="btn-group col">
                                <button th:attr="data-value=${project.id}"
                                        th:id="@{|updateProjectButton-${project.id}|}"
                                        type="submit" class="btn btn-outline-primary updateProjectButtonSelection">
                                    Update
                                </button>
                            </div>
                            <div class="btn-group col">
                                <button th:attr="data-value=${project.id}"
                                        th:id="@{|deleteProjectButton-${project.id}|}"
                                        type="button" class="btn btn-outline-primary deleteProjectButtonSelection">
                                    Delete
                                    Project
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ul>
</div>

<div class="text-center">
    <button type="button" href="#" data-bs-toggle="modal" data-bs-target="#createProjectModal"
            class="btn-outline-primary btn-lg">+ Create Project
    </button>
</div>

<!-- End: Project Table -->

<!-- Start Modal: Create Project -->

<div class="modal fade" id="createProjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter Project Data</h5>
            </div>

            <div class="modal-body">
                <form method="post" class="needs-validation" novalidate>
                    <!-- Project Name: Text input -->
                    <label for="createProjectName" class="form-label">Project Name</label>
                    <input type="text" class="form-control" id="createProjectName" required>
                    <div class="invalid-feedback">
                        Please enter a project name.
                    </div>

                    <p></p>
                    <!-- Due Date: Date Input -->
                    <label for="createDueDate" class="form-label">Due Date</label>
                    <input type="date" class="form-control" id="createDueDate" required>
                    <div class="invalid-feedback">
                        Please enter a date.
                    </div>

                    <p></p>
                    <!-- "Create Project" Button" -->
                    <div class="col-12">
                        <button class="btn btn-outline-primary btn-block mb-4" id="createProjectButton" type="submit">
                            Create Project
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- End Modal: Create Project -->

<!-- Start: Footer -->

<footer>
    <div class="footer-box">
        <p class="footer">
            ©TimBan — Made with ❤ for the people of the internet.<br></p>
    </div>
</footer>

<!-- End: Footer -->

</body>

<script th:src="@{/js/app.js}"></script>

<script>

    $(document).ready

    // Start: Create Project

    {
        $('#createProjectButton').click(function (event) {
            var projectName = $('#createProjectName').val();
            var dueDateSelection = $('#createDueDate').val();
            var dueDate = Date.parse(dueDateSelection) / 1000;

            createProject(projectName, dueDate, function (result) {
                if (result)
                    location.reload()
            });
            event.preventDefault()

        })

// End: Create Project

// Start: Update Project

        $('.updateProjectButtonSelection').click(function (event) {

            var id = $(this).attr('id').split("-")[1]

            var projectName = $('#formProjectName-' + id).val();
            var dueDateSelection = $('#formDueDate-' + id).val();
            var dueDate = Date.parse(dueDateSelection) / 1000;
            console.log(dueDate)
            updateProject(projectName, dueDate, id, function (result) {
                if (result)
                    location.reload()

            });

            event.preventDefault();
        })

// End: Update Project

// Start: Delete Project

        $('.deleteProjectButtonSelection').click(function (event) {

            console.log($(this).attr('data-value'))

            deleteProject($(this).attr('data-value'), function (result) {
                if (result)
                    location.reload()
            })
        })
    }

    // End: Delete Project

    // Start: Modal Validation (with the help of Bootstrap 5.0 docs)

    // Disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('change', function (event) {

                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()

    // End: Modal Validation

    // Start: Project Search Bar

    const searchProjects = document.querySelector("#searchProjects");
    searchProjects.addEventListener("keyup", function (e) {
        const span_projects = document.querySelectorAll(".table-row");
        const search_project = e.target.value.toLowerCase();

        span_projects.forEach(function (project) {
            if (project.textContent.toLowerCase().indexOf(search_project) !== -1) {
                project.closest('ul').style.display = "block"
            } else {
                project.closest('ul').style.display = "none";
            }
        })

    });

    // End: Project Search Bar

</script>
</html>