<!--Author:  Lars Stegmann-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS / Javascript-->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css}"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js}"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>

    <!-- Lars CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <!-- Antonio CSS -->
    <link th:href="@{/css/stylesAntonio.css}" rel="stylesheet"/>

    <!-- JavaScript and dependencies -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script crossorigin="anonymous"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js}"></script>


    <title>Record Settings</title>
</head>
<body>
<!-- Top Nav/Search -->

<nav class="py-6 px-4 navbar navbar-expand-lg auto-hiding-navbar fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
        <a href="/">
            <img th:src="@{/images/logo.png}" alt="logo" class="logo"/>
        </a>
        <!--        <form class="search-form d-flex ml-auto mt-1 mb-0">-->
        <!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>-->
        <!--        </form>-->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div th:text="|Hey, ${user.userName}"/>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:if="${user.admin}" href="/admin">Admin</a>
                        <a class="dropdown-item" href="/dashboard">Back to Dashboard</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#settingsModal">Settings</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
        </ul>
        <img th:src="@{/images/head-icon.png}" alt="logo" class="dude"/>
    </div>
</nav>

<!-- End Top Nav/Search -->

<div class="container" id="record-settings-container">

    <div class="row justify-content-center align-items-center" id="record-Settings-row1">
        <div class="col-sm text-center">
            <h1 th:text="${#dates.format(record.timestamp, 'dd.MM.yyyy')}"/>
        </div>
        <div class="col-sm text-center">
            <h1 th:text="${#dates.format(record.timestamp, 'HH:mm')}"/>
        </div>
        <div class="col-sm text-center">
            <h1>Project xyz</h1>
        </div>
        <div class="col-sm text-center">
            <h1 th:if="${record.startRecording}">Check-Out</h1>
            <h1 th:unless="${record.startRecording}">Check-In</h1>
        </div>
        <div class="col-sm text-center" method="post">
            <button class="button-style" id="removeRecord">Remove Record</button>
        </div>
    </div>


    <h1 id="edit-record-h1">Edit the record:</h1>

    <div class="row justify-content-center align-items-center" id="record-Settings-row2">
        <div class="col-sm text-center">
            <input type="datetime-local" id="formDate" class="form-control"/>
        </div>

        <div class="col-sm text-center">
            <select class="selectProject-wrapper" id="selectProject-put" name="selectProject">
                <option disabled selected>Select Project..</option>
                <option value="0" default>No project</option>
                <option
                        th:each="project : ${projects}"
                        th:value="${project.id}"
                        th:text="${project.projectName}"></option>
            </select>
            <span class="input-group-btn"><i class="glyphicon glyphicon-menu-down"></i></span>
        </div>
        <div class="col-sm text-center">
            <h1 th:if="${record.startRecording}">Check-Out</h1>
            <h1 th:unless="${record.startRecording}">Check-In</h1>
        </div>
        <div class="col-sm text-center">
            <button class="button-style" id="putRecords-Button">Save changes</button>
        </div>
    </div>

    <button class="button-style" id="backToDashboard" th:href="${'/dashboard'}">back to dashboard</button>
</div>


<!-- Start: Footer -->

<footer style="height: 15px;">
    <div class="footer-box">
        <p class="footer">
            ©TimBan — Made with ❤ for the people of the internet.<br></p>
    </div>
</footer>

<!-- End: Footer -->
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


<script th:src="@{/js/app.js}"></script>

<script th:inline="javascript">

    $(document).ready
    {

        var user = [[${user}]];
        var recordId = [[${record.id}]];
        var timestamp = [[${record.timestamp}]];


        // Start: Delete Record

        $('#removeRecord').click(function (event) {
            deleteRecord(recordId)
            event.preventDefault();
        })

        // End: Delete Record


        // Start: Update Record

        $('#putRecords-Button').click(function (event) {
            var timestamp = Date.parse($('#formDate').val()) / 1000;
            var projectId = $('#SelectProject-put option:selected').val();

            // if (!(timestamp.length > 0)) {
            //     timestamp = records.timestamp;
            // }
            //
            // if (!(project.length > 0)) {
            //     project = records.projectId;
            // }

            putRecord(timestamp, projectId, recordId);


            event.preventDefault();
        })

        // End: Update Record

        $('#backToDashboard').click(function (event) {
            location.replace("/dashboard")
        })
        console.log(timestamp.split(".")[0])
        document.getElementById('formDate').value = timestamp.split(".")[1];

    }


</script>


</html>